<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Veterinaria | Nueva</title>
<link rel="stylesheet" th:href="@{/css/semantic.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<div class="mt-5 jumbotron bg-light">
			<h1 class="display-4">CRUD Veterinaria</h1>
			<p class="lead">Saldaña Espinoza Hector - 5C - Desarrollo de
				Software Multiplataforma - UTEZ - DATIC</p>
			<hr class="my-4">
		</div>
		<form th:action="@{/veterinaria/save}" th:object="${consultation}"
			method="post" class="ui large form">
			<h1 class="ui dividing header">Datos de una nueva consulta</h1>
			<div class="field">
				<div th:classappend="${#fields.hasErrors('name')? 'field error' :''}">
					<label for="name">Nombre del Paciente</label> 
					<input type="text" placeholder="Ej. Hector Saldaña ..." id="name" th:field="*{name}">
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
				</div>
			</div>
			<div class="two fields">
				<div class="field">
					<div th:classappend="${#fields.hasErrors('phone')? 'field error' :''}">
						<label for="phone">Teléfono</label> 
						<input type="number" placeholder="Ej. 7771234567" id="phone" th:field="*{phone}">
						<span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>	
					</div>
				</div>
				<div class="field">
					<div th:classappend="${#fields.hasErrors('email')? 'field error' :''}">
						<label for="email">Correo Eletrónico</label> 
						<input type="text" placeholder="Ej. example@example.com" id="email" th:field="*{email}">
						<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>	
					</div>
				</div>
			</div>
			<div class="two fields">
				<div class="field">
					<div th:classappend="${#fields.hasErrors('motive')? 'field error' :''}">
						<label for="motive">Motivo de la Visita</label> 
						<input type="text" placeholder="Ej. Mordedura de insecto" id="motive" th:field="*{motive}">
						<span th:if="${#fields.hasErrors('motive')}" th:errors="*{motive}"></span>
					</div>
				</div>
				<div class="field">
					<div th:classappend="${#fields.hasErrors('medicine')? 'field error' :''}">
						<label for="medicine">Medicamento Recetado</label> 
						<input type="text" placeholder="Ej. Paracetamol" id="medicine" th:field="*{medicine}">
						<span th:if="${#fields.hasErrors('medicine')}" th:errors="*{medicine}"></span>
					</div>
				</div>
			</div>
			<input type="submit" value="Guardar" class="big ui orange button" />
		</form>
	</div>
	<script th:src="@{/js/semantic.js}"></script>
</body>
</html>