<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Personas | Inicio</title>
<link rel="stylesheet" th:href="@{/css/semantic.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<div class="mt-5 jumbotron bg-light">
			<h1 class="display-4">CRUD Personas y Casillas</h1>
			<p class="lead">Saldaña Espinoza Hector - 5C - Desarrollo de
				Software Multiplataforma - UTEZ - DATIC</p>
			<hr class="my-4">
		</div>
		<div class="row">
			<div class="col">
				<a class="ui big green button" th:href="@{/persona/nuevo}">Nueva persona </a>
			</div>
			<div class="col">
				<a class="ui big yellow button" th:href="@{/casilla/principal}">Ver casillas </a>
			</div>
		</div>
		<div th:if="${personList.empty}">
			<div class="alert alert-warning" role="alert">
				No hay personas registradas</b>
			</div>
		</div>
		<div th:if="${!personList.empty}">
		<table class="ui teal table">
				<thead>
					<tr>
						<th>#</th>
						<th>Nombre</th>
						<th>Teléfono</th>
						<th>Correo eléctronico</th>
						<th>Casilla</th>
						<th>Edad</th>
						<th>Estado</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="per, iter : ${personList}">
						<td th:text="${iter.index + 1}"></td>
						<td th:text="${per.name}"></td>
						<td th:text="${per.phone}"></td>
						<td th:text="${per.email}"></td>
						<td th:text="${per.square.name}"></td>
						<td th:text="${per.status}"></td>
						<td>
							<div class="ui buttons">
								<a class="ui blue button"
									th:href="@{/persona/editar/{id} (id=${per.id})}">
									Editar </a> 
								<a class="ui red button"
									th:href="@{/persona/eliminar/{id} (id=${per.id})}">
									Eliminar </a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script th:src="@{/js/semantic.js}"></script>
</body>
</html>