<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Veterinaria | Inicio</title>
<link rel="stylesheet" th:href="@{/css/semantic.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<div class="mt-5 jumbotron bg-light">
			<h1 class="display-4">CRUD Veterinaria</h1>
			<p class="lead">Saldaña Espinoza Hector - 5C - Desarrollo de
				Software Multiplataforma - UTEZ - DATIC</p>
			<hr class="my-4">
		</div>
		<div class="row">
			<div class="col-auto">
				<a class="ui big green button" th:href="@{/veterinaria/nuevo}">
					Crear consulta </a>
			</div>
		</div>
		<br>
		<div th:if="${consultationsList.empty}">
			<div class="alert alert-warning" role="alert">
				Aún no hay consultas para mostrar o puedes crear uno en el botón <b>Crear
					consulta</b>
			</div>
		</div>
		<div th:if="${!consultationsList.empty}">
			<table class="ui teal table">
				<thead>
					<tr>
						<th>#</th>
						<th>Nombre del paciente</th>
						<th>Teléfono</th>
						<th>Correo eléctronico</th>
						<th>Motivo</th>
						<th>Medicamento</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="consul, iter : ${consultationsList}">
						<td th:text="${iter.index + 1}"></td>
						<td th:text="${consul.name}"></td>
						<td th:text="${consul.phone}"></td>
						<td th:text="${consul.email}"></td>
						<td th:text="${consul.motive}"></td>
						<td th:text="${consul.medicine}"></td>
						<td>
							<div class="ui buttons">
								<a class="ui blue button"
									th:href="@{/veterinaria/editar/{id} (id=${consul.id})}">
									Editar </a> 
								<a class="ui red button"
									th:href="@{/veterinaria/eliminar/{id} (id=${consul.id})}">
									Eliminar </a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script th:src="@{/js/semantic.js}"></script>
</body>
</html>