<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Casilla | Modificar</title>
    <link rel="stylesheet" th:href="@{/css/semantic.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <div class="mt-5 jumbotron bg-light">
        <h1 class="display-4">CRUD Personas y Casillas</h1>
        <p class="lead">Saldaña Espinoza Hector - 5C - Desarrollo de
            Software Multiplataforma - UTEZ - DATIC</p>
        <hr class="my-4">
    </div>
    <form th:action="@{/casilla/update/{id} (id=${square.id})} " th:object="${square}" method="post" class="ui large form">
        <h1 class="ui dividing header">Datos casilla nueva</h1>

        <div class="field">
            <div th:classappend="${#fields.hasErrors('name')? 'field error' :''}">
                <label for="name">Nombre casilla</label> <input type="text" placeholder="Ej. Casilla Azul" id="name" th:field="*{name}">
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>
        </div>

        <div class="field">
            <div th:classappend="${#fields.hasErrors('status')? 'field error' :''}">
                <input type="checkbox" id="status" value="first_checkbox" th:field="*{status}"/>
                    <label>Activo/Inactivo</label>
                <span th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></span>
            </div>
        </div>

        <input type="submit" value="Guardar" class="big ui purple button"/>
    </form>
</div>
<script th:src="@{/js/semantic.js}"></script>
</body>
</html>