<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Casilla | Nueva</title>
<link rel="stylesheet" th:href="@{/css/semantic.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<div class="mt-5 jumbotron bg-light">
			<h1 class="display-4">CRUD Personas y Casillas</h1>
			<p class="lead">Saldaña Espinoza Hector - 5C - Desarrollo de
				Software Multiplataforma - UTEZ - DATIC</p>
			<hr class="my-4">
		</div>
		<form th:action="@{/casilla/save}" th:object="${square}" method="post"
			class="ui large form">
			<h1 class="ui dividing header">Datos casilla nueva</h1>

			<div class="field">
				<div th:classappend="${#fields.hasErrors('name')? 'field error' :''}">
					<label for="name">Nombre casilla</label> <input type="text"
						placeholder="Ej. Casilla Azul" id="name" th:field="*{name}" autofocus>
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
				</div>
			</div>

			<input type="submit" value="Guardar" class="big ui orange button" />
		</form>
	</div>
	<script th:src="@{/js/semantic.js}"></script>
</body>
</html>