<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Personas | Inicio</title>
<link rel="stylesheet" th:href="@{/css/semantic.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<div class="mt-5 jumbotron bg-light">
			<h1 class="display-4">CRUD Personas y Casillas</h1>
			<p class="lead">Saldaña Espinoza Hector - 5C - Desarrollo de
				Software Multiplataforma - UTEZ - DATIC</p>
			<hr class="my-4">
		</div>
		<div class="row">
			<div class="col">
				<a class="ui big green button" th:href="@{/casilla/nuevo}">
					Nueva casilla </a>
			</div>
			<div class="col">
				<a class="ui big yellow button" th:href="@{/persona/principal}">
					Ver personas </a>
			</div>
		</div>
		<div th:if="${squareList.empty}">
			<div class="alert alert-warning" role="alert">
				No hay casillas registradas</b>
			</div>
		</div>
		<div th:if="${!squareList.empty}">
		<table class="ui teal table">
				<thead>
					<tr>
						<th>#</th>
						<th>Nombre</th>
						<th>Estatus</th>
						<th>Accion</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="squa, iter : ${squareList}">
						<td th:text="${iter.index + 1}"></td>
						<td th:text="${squa.name}"></td>
						<td th:text="${squa.status?'🟢':'🔴'}"></td>
						<td>
							<div class="ui buttons">
								<a class="ui blue button"
									th:href="@{/casilla/editar/{id} (id=${squa.id})}">
									Editar </a> 
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script th:src="@{/js/semantic.js}"></script>
</body>
</html>