<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Persona | Modificar</title>
<link rel="stylesheet" th:href="@{/css/semantic.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<div class="mt-5 jumbotron bg-light">
			<h1 class="display-4">CRUD Personas y Casillas</h1>
			<p class="lead">Saldaña Espinoza Hector - 5C - Desarrollo de
				Software Multiplataforma - UTEZ - DATIC</p>
			<hr class="my-4">
		</div>
		<form th:action="@{/persona/update/{id} (id=${person.id})} "
			th:object="${person}" method="post" class="ui large form">
			<h1 class="ui dividing header">Datos persona nueva</h1>

			<div class="field">
				<div
						th:classappend="${#fields.hasErrors('name')? 'field error' :''}">
					<label for="name">Nombre persona</label> <input type="text"
																	placeholder="Ej. Hector Saldaña ..." id="name"
																	th:field="*{name}" autofocus>
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
				</div>
			</div>

			<div class="two fields">
				<div class="field">
					<div
							th:classappend="${#fields.hasErrors('phone')? 'field error' :''}">
						<label for="phone">Teléfono</label> <input type="number"
																   placeholder="Ej. 7771234567" id="phone"
																   th:field="*{phone}">
						<span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
					</div>
				</div>
				<div class="field">
					<div
							th:classappend="${#fields.hasErrors('email')? 'field error' :''}">
						<label for="email">Correo Eletrónico</label> <input type="text"
																			placeholder="Ej. example@example.com" id="email"
																			th:field="*{email}"> <span
							th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
					</div>
				</div>
			</div>

			<div class="two fields">
				<div class="field">
					<div th:classappend="${#fields.hasErrors('square')? 'field error' :''}">
						<label for="age">Casilla</label>
						<select class="ui fluid dropdown" th:field="*{square}">
							<option th:each="square: ${squareList}" th:text="${square.name}" th:value="${square.id}"></option>
						</select>
						<span th:if="${#fields.hasErrors('square')}" th:errors="*{square}"></span>
					</div>
				</div>

				<div class="field">
					<div
							th:classappend="${#fields.hasErrors('age')? 'field error' :''}">
						<label for="age">Edad</label> <input type="number"
															 placeholder="19" id="age" th:field="*{age}"> <span
							th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
					</div>
				</div>
			</div>
			<input type="submit" value="Guardar" class="big ui purple button" />
		</form>
	</div>
	<script th:src="@{/js/semantic.js}"></script>
</body>
</html>