<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Crear</title>
<link rel="stylesheet" th:href="@{/css/semantic.css}" />
</head>
<body>
	<br>
	<div class="ui container">
		<form th:action="@{/mis-ingresos/save}" th:object="${earn}"
			method="post" class="ui large form">
			<div class="three fields">
				<div class="field">

					<!--  Si hay errores muestra la clase con el ternario, si no hay, no muestra nada -->
					<div
						th:classappend="${#fields.hasErrors('description')? 'field error' :''}">
						<label for="description">Descripción</label> 
						<input type="text" th:field="*{description}" id="description" placeholder="Descripción" /> 
						<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
					</div>
				</div>

				<div class="field">				
					<label for="date">Fecha</label> <input type="date"
						th:field="*{date}" id="date" placeholder="Fecha"> <span
						th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span>

				</div>

				<div class="field">				
					<label for="amount">Cantidad</label> <input type="number"
						step="any" th:field="*{amount}" id="amount" placeholder="Cantidad">
					<span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>
				</div>
			</div>

			<input type="submit" value="Guardar"
				class="ui button ui inverted violet button" />
		</form>
	</div>

	<script th:src="@{/js/semantic.js}" type="text/javascript"></script>
</body>
</html>