<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Editar</title>
<link rel="stylesheet" th:href="@{/css/semantic.css}" />
</head>
<body>
<br>
	<div class="ui container">
		<form th:action="@{/mis-ingresos/update/{id} (id=${earn.id}) } " th:object="${earn}"
			method="post" class="ui form">
			   <div class="three fields">
                <div class="field">
                    <label for="description">Descripción</label>
                    <input type="text" th:field="*{description}" id="description" placeholder="Descripción"/>
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                </div>

                <div class="field">
                    <label for="date">Fecha</label>
                    <input type="date" th:field="*{date}" id="date" placeholder="Fecha">
                    <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span>
                </div>     
                
                <div class="field">
                    <label for="amount">Cantidad</label>
                    <input type="number" step="any" th:field="*{amount}" id="amount" placeholder="Cantidad">
                    <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>
                </div>
            </div>
            
			<input type="submit" value="Guardar" class="ui button ui inverted red button"/>
		</form>
	</div>

	<script th:src="@{/js/semantic.js}" type="text/javascript"></script>
</body>
</html>