<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Lista</title>
<link rel="stylesheet" th:href="@{/css/semantic.css}" />
</head>
<body>
	<br>
	<div class="ui container">
		<h1>Listado de Ingresos</h1>
		<div th:switch="${earnList}">
			<h4 th:case="null">No se han registrado ingresos</h4>
			<div th:case="*">

				<table class="ui celled table">
					<thead>
						<tr>
							<th>Num</th>
							<th>Fecha</th>
							<th>Descripcion</th>
							<th>Monto</th>
							<th colspan="2">Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="earn,iter : ${earnList}">
							<td th:text="${iter.index + 1}"></td>
							<td th:text="${earn.date}"></td>
							<td th:text="${earn.description}"></td>
							<td th:text="${earn.amount}"></td>
							<td><a class="ui inverted green button"
								th:href="@{/mis-ingresos/edit/{id} (id=${earn.id})}">Editar</a></td>
							<td><a class="ui inverted red button"
								th:href="@{/mis-ingresos/delete/{id} (id=${earn.id})}">Eliminar</a></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
	<script th:src="@{/js/semantic.js}" type="text/javascript"></script>
</body>
</html>

<!-- 
<h1>listado de ingresos</h1>
	<div th:switch="${earnList}">
		<h4 th:case="null">No se han registrado ingresos</h4>
		<div th:case="*">
			<table>
				<thead>
					<tr>
						<th>Num</th>
						<th>Fecha</th>
						<th>Descripcion</th>
						<th>Monto</th>
						<th colspan="2">Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="earn,iter : ${earnList}">
						<td th:text="${iter.index}"></td>
						<td th:text="${earn.date}"></td>
						<td th:text="${earn.description}"></td>
						<td th:text="${earn.amount}"></td>
						<td><a th:href="@{/mis-ingresos/edit/{id} (id=${earn.id})}">Editar</a></td>
						<td><a th:href="@{/mis-ingresos/delete/{id} (id=${earn.id})}">Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

-->